body{
    font-family: 'Lato', sans-serif;
    width:750px;
    margin:0px 50px 0px 50px;
    
}
h1{
    font-size: 50px;
    width:750px;
   margin-left:500px;
    color: black;


}
.head{
    margin-left: 450px;
    width:750px;
    margin-top: -30px;
    font-size:15px ;
}
.container{
    margin-left: -28px;
    margin-top: -10px;
    width:100%;
    
}
.abc{
    margin-left:90px;
    font-size: 18px;
    width: 1100px;


}
.def{
    margin-left:350px;
    margin-top: -20px;
}
.abc hr{
    
    margin-right:20px;

}


